---
layout: default
---


<div class="article-list">
  <h1 class="headline">Projects</h1>
  {% for post in site.posts %}
  {% if post.tags contains 'project' %}
  <h3>
    <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a> 
    <span class="postdate">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span> 
  </h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}
  
  <h1 class="headline">Conceptual</h1>
  {% for post in site.posts %}
  {% if post.tags contains 'conceptual' %}
  <h3>
    <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a> 
    <span class="postdate">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span> 
  </h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}
  
  <h1 class="headline">Programming</h1>
  {% for post in site.posts %}
  {% if post.tags contains 'programming' %}
  <h3>
    <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a> 
    <span class="postdate">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span> 
  </h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}
  
  
  <h1 class="headline">Personal</h1>
  {% for post in site.posts %}
  {% if post.tags contains 'personal' %}
  <h3>
    <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a> 
    <span class="postdate">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span> 
  </h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}

  
  <h1 class="headline">Others</h1>
  {% for post in site.posts %} 
  {% unless post.tags contains 'personal' %}
  {% unless post.tags contains 'programming' %}
  {% unless post.tags contains 'conceptual' %}
  {% unless post.tags contains 'project' %}
  <h3>
    <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a> 
    <span class="postdate">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span> 
  </h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endunless %}
  {% endunless %}
  {% endunless %}
  {% endunless %} 
  {% endfor %}

</div>


