---
layout: default
---

<h1 class="headline">{{site.title}}</h1>
<div class="article-list">
  <h2>Conceptual</h2>
  {% for post in site.posts %}
  {% if post.tags contains 'conceptual' %}
  <h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}
  
  <h2>Programming</h2>
  {% for post in site.posts %}
  {% if post.tags contains 'programming' %}
  <h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}
  
  
  <h2>Personal</h2>
  {% for post in site.posts %}
  {% if post.tags contains 'personal' %}
  <h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endif %} 
  {% endfor %}

  
  <h2>Others</h2>
  {% for post in site.posts %} 
  {% unless post.tags contains 'personal' %}
  {% unless post.tags contains 'programming' %}
  {% unless post.tags contains 'conceptual' %}
  <h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
  <p>{{post.excerpt | strip_html}}</p>
  {% endunless %}
  {% endunless %}
  {% endunless %} 
  {% endfor %}

</div>


