<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Comic Book</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }

        .comic-container {
            width: 100%;
            max-width: 800px; /* Adjust max-width as needed */
            margin: 0 auto;
            padding: 0px;
        }

        .panel {
            width: 100%;
            margin-bottom: 0px;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

    <div class="comic-container">
        <div class="panel">
            <img src="/assets/images/comics_cover.jpg" alt="Panel 1"> 
        </div>
        
        <div class="panel">
            <img src="/assets/images/comics_pg1.jpg" alt="Panel 1"> 
        </div>
        <div class="panel">
            <img src="/assets/images/comics_pg2.jpg" alt="Panel 2"> 
        </div>
        <div class="panel">
            <img src="/assets/images/comics_pg3.jpg" alt="Panel 3"> 
        </div>
        </div>

</body>
</html>